body {
  background: #f0f2f5 !important;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-table-thead > tr >th{
  color: white !important;
  font-weight: bold;
  background: #000000 !important;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

table th {
  border: 1px solid black !important;
  font-weight: bold !important;
}

table td {
  border: 1px solid rgb(240, 240, 240) !important;
}

.small-table table {
  width: 30% !important;
}

.big-table table {
  width: 90% !important;
}